{% extends 'layout.html' %}
{% block body %}

<h2>Reviews</h2>
{% for review in all_reviews %}
    <br><br>
    {{ review.author }}
    <br>
    {{ review.body }}
    <br>
    {{ review.rating }}
    <br>
    <form action="{{ url_for('update', id = review.id) }}">
        <input type=submit value="Update">
    </form>
    <form action="{{ url_for('delete', id = review.id) }}">
        <input type=submit value="Delete">
    </form>
    <br><br>

{% endfor %}

<h2>Games</h2>
{% for game in all_games %}
    <br><br>
    {{ game.name }}
    <br>
    {{ game.genre }}
    <br>
    <form action="{{ url_for('updategame', id = game.id) }}">
        <input type=submit value="Update">
    </form>
    <form action="{{ url_for('deletegame', id = game.id) }}">
        <input type=submit value="Delete">
    </form>
    <br><br>

{% endfor %}
{% endblock body %}